---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
{% include normalize.css %}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "layout"
;

body {
  margin: 0;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
}

div.moiz-jumbotron {
  /* Positioning */
  /* Box-model */
  padding-top: 400px;
  height: 700px;
  /* Typography */
  font-style: normal;
  text-align: center;
  /* Visual */
  background-color: #111;
  color: #fff;
  /* Misc */
  h1 {
    /* Positioning */
    /* Box-model */
    margin: 0;
    /* Typography */
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* Visual */
    /* Misc */
  }
  h2 {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-size: 10px;
    font-weight: 400;
    /* Visual */
    /* Misc */
  }
  a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    &:hover {
      /* Positioning */
      /* Box-model */
      /* Typography */
      /* Visual */
      color: #ffc03a;
      /* Misc */
    }
  }
}

div.moiz-about {
  /* Positioning */
  /* Box-model */
  padding: 150px 15px;
  /* Typography */
  /* Visual */
  /* Misc */
  h2 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 0;
    /* Typography */
    font-size: 42px;
    /* Visual */
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    max-width: 100px;
    border-bottom: 1px solid #111;
    /* Typography */
    /* Visual */
    /* Misc */
  }
  p {
    /* Positioning */
    /* Box-model */
    max-width: 310px;
    /* Typography */
    font-family: 'Mercury SSm A', 'Mercury SSm B';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    /* Visual */
    /* Misc */
  }
  a {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-weight: 700;
    color: #111;
    text-decoration: none;
    /* Visual */
    /* Misc */
    &:hover {
      /* Positioning */
      /* Box-model */
      /* Typography */
      color: #df4a37;
      /* Visual */
      /* Misc */
    }
  }
}

div.moiz-work {
  /* Positioning */
  /* Box-model */
  padding: 150px 15px;
  /* Typography */
  /* Visual */
  background-color: #eeecea;
  /* Misc */
  h2 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 0;
    /* Typography */
    font-size: 42px;
    /* Visual */
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    max-width: 100px;
    border-bottom: 1px solid #111;
    /* Typography */
    /* Visual */
    /* Misc */
  }
  p.lead {
    /* Positioning */
    /* Box-model */
    max-width: 310px;
    /* Typography */
    font-family: 'Mercury SSm A', 'Mercury SSm B';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    /* Visual */
    /* Misc */
  }
  a {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-weight: 700;
    color: #111;
    text-decoration: none;
    /* Visual */
    /* Misc */
    &:hover {
      /* Positioning */
      /* Box-model */
      /* Typography */
      color: #df4a37;
      /* Visual */
      /* Misc */
    }
  }
}

div.moiz-work-card {
  /* Positioning */
  /* Box-model */
  padding-top: 50px;
  max-width: 940px;
  margin: 0 auto;
  /* Typography */
  /* Visual */
  /* Misc */
  img {
    max-height: 400px;
  }
  div.moiz-work-card-stub {
    /* Positioning */
    /* Box-model */
    padding: 20px 20px 50px 20px;
    /* Typography */
    /* Visual */
    background-color: #fff;
    /* Misc */
    p {
      /* Positioning */
      /* Box-model */
      /* Typography */
      font-family: 'Mercury SSm A', 'Mercury SSm B';
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      /* Visual */
      /* Misc */
    }
  }
}

div.moiz-contact {
  /* Positioning */
  /* Box-model */
  padding: 150px 15px;
  /* Typography */
  /* Visual */
  background-color: #052e91;
  color: #fffef9;
  /* Misc */
  h2 {
    /* Positioning */
    /* Box-model */
    margin-bottom: 0;
    /* Typography */
    font-size: 42px;
    /* Visual */
    /* Misc */
  }
  h3 {
    /* Positioning */
    /* Box-model */
    margin-top: 0;
    max-width: 100px;
    border-bottom: 1px solid #fffef9;
    /* Typography */
    /* Visual */
    /* Misc */
  }
  p {
    /* Positioning */
    /* Box-model */
    max-width: 310px;
    /* Typography */
    font-family: 'Mercury SSm A', 'Mercury SSm B';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    /* Visual */
    /* Misc */
  }
  a {
    /* Positioning */
    /* Box-model */
    /* Typography */
    font-weight: 700;
    color: #fffef9;
    text-decoration: none;
    /* Visual */
    /* Misc */
    &:hover {
      /* Positioning */
      /* Box-model */
      /* Typography */
      color: #ffc03a;
      /* Visual */
      /* Misc */
    }
  }
}

.text-center {
  h4 {
    /* Positioning */
    /* Box-model */
    margin: 0 auto 40px auto;
    max-width: 100px;
    border-bottom: 1px solid #111;
    /* Typography */
    /* Visual */
    /* Misc */
  }
  text-align: center;
  img {
    margin: 0 auto;
  }
}
